---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name:  app
  namespace: argocd
#   annotations:
#     argocd-image-updater.argoproj.io/image-list: myalias=docker.io/marina1327/task-01
#     argocd-image-updater.argoproj.io/write-back-method: git:secret:argocd/git-creds
#     argocd-image-updater.argoproj.io/git-branch: main
#     argocd-image-updater.argoproj.io/myalias.force-update: "true"
  annotations:
    argocd-image-updater.argoproj.io/php.allow-tags: regexp:v\d+\.\d+\.\d+-rc.*$
    argocd-image-updater.argoproj.io/php.update-strategy: latest
    argocd-image-updater.argoproj.io/media-manager.allow-tags: regexp:v\d+\.\d+\.\d+-rc.*$
    argocd-image-updater.argoproj.io/media-manager.update-strategy: latest
    argocd-image-updater.argoproj.io/frontend.allow-tags: regexp:v\d+\.\d+\.\d+-rc.*$
    argocd-image-updater.argoproj.io/frontend.update-strategy: latest
    argocd-image-updater.argoproj.io/prerender.allow-tags: regexp:v\d+\.\d+\.\d+-rc.*$
    argocd-image-updater.argoproj.io/prerender.update-strategy: latest
    argocd-image-updater.argoproj.io/write-back-method: git:repocreds
    argocd-image-updater.argoproj.io/git-branch: master
    argocd-image-updater.argoproj.io/write-back-target: kustomization
spec:
  project: default
  source:
    repoURL: https://github.com/popilmv/argocd.git
    targetRevision: HEAD
    path: app 
  destination:
    server: https://kubernetes.default.svc
    namespace: myspace
  syncPolicy:
    automated: {}
  # syncPolicy:
  #   syncOptions:
  #     - CreateNamespace=true
  #   automated:
  #     selfHeal: true
  #     prune: true
    # syncOptions:
    #   - CreateNamespace=true
    # automated:
    #   selfHeal: true
    #   prune: true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name:  dev
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/popilmv/argocd.git
    targetRevision: HEAD
    path: dev 
  destination:
    server: https://kubernetes.default.svc
    namespace: dev

  syncPolicy:
    automated: {}
  # syncPolicy:
  #   syncOptions:
  #     - CreateNamespace=true
  #   automated:
  #     selfHeal: true
  #     prune: true
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name:  stg
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/popilmv/argocd.git
    targetRevision: HEAD
    path: stg 
  destination:
    server: https://kubernetes.default.svc
    namespace: stg

  syncPolicy:
    automated: {}
  # syncPolicy:
  #   syncOptions:
  #     - CreateNamespace=true
  #   automated:
  #     selfHeal: true
  #     prune: true
---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
image: docker.io/marina1327/task
newTag: 01:13.13.14
---