apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: my-ingress
  namespace: main
  labels:
    name: my-ingress
spec:
  ingressClassName: nginx
  rules:
  - host: argocd-m.int.itoutposts.com
    http:
      paths:
      - pathType: Prefix
        path: /app
        backend:
          service:
            name: my-pod-service  
            port: 
              number: 80


          
          
          
